body{background:url("../images/4.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
}

h1::first-letter{font-size: 2em;color: grey;}
aside p::first-letter{font-size: 1.5em;color: grey;}

main{width: 70%;margin:0 auto; background-color: #9AC8CD;}
header,footer{background-color: #232323;color: aliceblue;}
/* HEADER */
#logo{float: left;padding: 3%;}
#menu-haut{text-align: right;color: white;}
#menu-haut li{display:inline-block;padding: 3%;font-family: "Orbitron";}
a:hover{color: yellow;}
a{color: white;}
/* SECTION*/
h1,h2,h3,h4,h5,h6{text-align: center;font-family:"Orbitron";}
h1,h2{color: grey;}

/* FOOTER */
footer{padding: 2%;clear:both}

/* style page contact.css*/
body{background-color: #517f85;}
.bloc-gauche,.bloc-droit{
    width: 44%;
    float: left;
    background-color: #83b7b4;
    margin: 1%;
    padding-left: 2%;}

table{width: 100%;margin-left: -2%;}
td,th{text-align: center;}

table,tr,td,th{border:1px solid white;border-collapse: collapse;}
thead,tfoot{background-color:black;color: white;}

/* Formulaire */
label{display: inline-block;width: 10em;vertical-align: top;}
input,textarea{width: 25em;}
input[type="submit"],input[type="reset"]{
        width:10em;
        background:#232323;
        color: #f1f1f1;
        padding: 1%;
        }
.bouton{text-align: center;}

legend{color: #f1f1f1;font-size: 1.2em;}
fieldset{border-color: #f1f1f1;}
input[type="checkbox"]{width: 5em;}
video{width:25em}
iframe{width: 100%;height: 250px;}