body{background:url("../images/4.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
}

h1::first-letter{font-size: 2em;color: grey;text-align:left;}

main{width: 70%; background-color: #9AC8CD;margin: 0px auto;}
header,footer{background-color: #232323;color: aliceblue;}
/* HEADER */
#logo{float: left;padding: 3%;}
#menu-haut{text-align: right;}
#menu-haut li{display:inline-block;padding: 3%;font-family: "Orbitron";}
.jaune{color: yellow;}
a:hover{color: yellow;}
a{color: white;}
/* SECTION*/
h1{text-align:left;font-family:"Orbitron";}
h1{color: grey;}
p{color: white;}
ul{color: white;}
.bloc1{margin: 5px;}
/* GALERIE */
figure{clear:both;margin:0;text-align: center;}
figure img{width: 24%;}
figcaption{color: #fff;}
/* FOOTER */
footer{padding: 2%;clear:both}

