/* Configuration de l'écran en dessous de 640px*/
@media screen and (max-width:640px){
    main{width: 100%;font-size: 1.2em;}
    aside{display: none;}
    #colonne-droite {width: 100%;background-size: cover;}
    .bloc1, .bloc2{float: none;width: 100%;}
    .bloc3 p{color: #232323;}
    footer{margin-bottom: 0;}
    header{margin-top: -19px;padding-right: 19px;}
    figure img{width: 100%;}
    #menu-haut{display: grid;padding: 0%;}
    .bloc-gauche, .bloc-droit{width: 100%;float: none;margin: 0%;padding-left: 0;}
    body{margin: 0%;}
}

@media screen and (min-width:1024px) and (max-width:1280px){
    main{width: 100%;font-size: 1.2em;}

}