body{background:url("../images/4.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
}
.highlight{
    color:orange
}
h1::first-letter{font-size: 2em;color: grey;}
aside p::first-letter{font-size: 1.5em;color: grey;}
a:hover{color: yellow;}
a{color: white;}
/*h3::before{
    content:"\f24e";
    font-family: "Orbitron";
}/*
/*p{font-family: "action_man_shadedregular";}*/
main{width: 70%;margin:0 auto; background-color: #9AC8CD;}
header,footer{background-color: #232323;color: aliceblue;}
/* HEADER */
#logo{float: left;padding: 3%;}
#menu-haut{text-align: right;}
#menu-haut li{display:inline-block;padding: 3%;font-family: "Orbitron";}
.jaune{color: yellow;}
#colonne-droite{background:url("../images/8.jpg")}

/* SECTION*/
section{clear: both;}
aside,#colonne-droite{float: left;}
aside{width: 20%;padding-left: 1.5%;background-color: #E1F7F5;margin-right: 2%;margin-left: 1%;}
#colonne-droite{width: 75%;background-color: aqua;}
h1,h2,h3,h4,h5,h6{text-align: center;font-family:"Orbitron";}
h1,h2{color: grey;}
#colonne-droite p{color: #fff;}
.image-ronde{
        width: 100px;
        height:100px;
        border-radius: 50%;
        display:inline-block;
        justify-content: center;
        align-items: center;}      


.bloc1,.bloc2{width: 48%;float: left;margin: 1%;}
.bloc3{clear: both;}

/* GALERIE */
figure{clear:both;margin:0;text-align: center;}
figure img{width: 24%;}
figcaption{color: #fff;}
/* FOOTER */
footer{padding: 2%;clear:both}

